<!-- About Section -->
    <section id="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Training</h2>
                    <h3 class="section-subheading text-muted">I have been involved in planning, creating and delivering a number of training courses and programmes.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The NCAS Introduction to Scientific Computing Course</h4>
                                    <h4 class="subheading">Getting started with Python</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have over 8 years of experience in delivering Python training as part of the <a href="https://ncas.ac.uk/study-with-us/introduction-to-scientific-computing/">NCAS ISC course</a>. This involves a beginners' guide to Python programming followed by tools and libraries for working with scientific data.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The JASMIN Workshop</h4>
				    <h4 class="subheading">Introducing users to the JASMIN Platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have co-developed the <a href="https://github.com/cedadev/jasmin-workshop">JASMIN Workshop</a>, a set of interactive exercises to guide users on how to access and use our data and compute platform.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>JASMIN Webinars</h4>
                                    <h4 class="subheading">Web-based teaching and information sharing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As part of the JASMIN Webinar series, I have written and presented short sessions on a range of topics. These include (1) <b>Git and GitHub</b>, (2) the JASMIN <b>Jupyter Notebook Service</b> and (3) <b>tools for running efficient workflows</b>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In-house training</h4>
                                    <h4 class="subheading">Supporting colleagues</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In my current role, I enjoy sharing best practice, tips and tricks with colleagues. These range from informal chats to organised sessions across a range of topics, such as: Linux shell, Python, Git/GitHub, Unit testing, Continuous integration, Django basics, Ansible usage, working with data, environmental data tools.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
