<!-- Team Section -->
    <section id="computing" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Computing and data</h2>
                    <h3 class="section-subheading text-muted">I have over 20 years experience of working in the field of environmental data management and software development</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <p>more to come here...</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I love solving problems with code.</p>
                </div>
            </div>
        </div>
    </section>
